.App {
  font-family: sans-serif;
  display: "flex";
  flex-direction: row;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#e6d6d5;
}



